body{
    background: white;
}
.brearcrum{
    padding: 10px 20px;
    font-size: 12px;
    color: #565656;
}
.product_display{
    min-height: 100%;
    padding: 10px 20px;
    display: flex;
}
.product_d_image{
    display: flex;
    gap: 10px;

}
.mini_product{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mini_product img{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}
.mini_product img:hover{
    cursor:  pointer;
}
.product_d_details{
    margin: 0 30px
}
.product_title{
    font-size: 25px;
} 
.brand_store{
    margin-top: 5px;
    color: #007185;
    font-size: 14px;
}
.product_rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product_rating div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product_rating p{
    color: #007185;
}
.product_rating p span{
    color: #fff;
    background: #c73500;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;
}
.product_rating h5{
    font-weight: 500;
}
.product_prices{
   display: flex;
   flex-direction: column;
   gap: 5px; 
}
.product_prices div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.product_prices div p{
    font-size: 26px;
    color: #c73500;
}
.product_prices div h1{
    font-size: 26px;
    font-weight: 500;
}
.product_prices div h5{
    color: #565656;
    font-weight: 400;
}
.product_color_selection{
    margin: 15px 0;
}
.product_color_options{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.option{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #cbcbcb;
    gap: 10px;
}
.product_info{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 300px;
    margin-bottom: 15px;
}
.product_description{
    font-size: 20px;
    margin: 15px 0;
}
.product_description ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}
.product_d_purchase{
    width: 100%;
    max-width: 280px;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 20px; 
}
.product_d_purchase .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_d_purchase .price{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}
.product_d_purchase .price span{
   font-size: 26px;
   padding: 2px; 
}
.gap{
    margin: 15px 0; 
}
.product_d_purchase p span{
    color: #007185;
}
delivery_location{
    display: flex;
    align-items: center;
    gap: 3px;
}
.product_stock{
    margin: 15px 0;
    color: green;
    font-weight: 400; 
}
.product_quantity{
    padding: 8px 5px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    background: #efefef;
    border-color: #c1c1c1; 
}
.product_d_purchase .btn{
     outline: none;
     border: none;
     background: #ffd814; 
     width: 100%; 
     padding: 10px 0;
     margin-top: 10px;
     border-radius: 50px;
     cursor: pointer;
}
.product_d_purchase .product_buy{
     background: #ffa41c;
}
.product_seller_info{
    margin-top: 10px;
     display: grid;
     grid-template-columns: auto auto;
     gap: 4px;
     font-size: 14px;
     color: #565656;
}
.product_seller_info span{
     color: #007185;
}
.product_d_purchase hr{
     margin:20px 0;
}
.product_add_list{
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: start;
    background: white;
    cursor: pointer;
}
.product_footer{
    margin-top: 100px;
}